/* Common styles for both mobile and PC */
body {
    font-family: Arial, sans-serif;
    background-image: url('img/chr.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}

h1 {
    font-size: 34px;
    color: rgb(251, 251, 251);
    background-color: rgb(11, 11, 11);
}

h3 {
    font-size: 16px;
    color: black;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.icon {
    margin: 20px;
    text-align: center;
    background-color: rgb(235, 239, 239);
    padding: 20px;
    border-radius: 25px;
    max-width: 130px;
    transition: background-color 0.3s;
}

.icon a {
    text-decoration: none;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .icon {
        max-width: 45%; /* Adjust the icon width for mobile */
    }

    .icon-container {
        margin: 10px; /* Adjust the margin for mobile */
    }
}

/* Hover effects for icons */
.icon:hover {
    background-color: #a5d8f1;
}

.icon-1 {
    font-size: 10px;
}

.icon-y:hover {
    background-color: #f5b0b0;
}

.icon-w:hover {
    background-color: #b3f9b9;
}

.icon-i:hover {
    background-color: #fbc0e6;
}

.icon-f:hover {
    background-color: #79eafe;
}
