body {
    font-family: Arial, sans-serif;
    background-image: url('img/chr.jpg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%; /* Make the logo round */
    margin: 20px;
}

h1 {
    font-size: 34px;
    color: rgb(251, 251, 251);
    background-color: rgb(11, 11, 11);
    /* padding: 20px; */
    /* margin-left: 30%;
    margin-right: 30%; */
}  

h3 {
    font-size: 16px;
    color: black;
}

.icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px; /* Add some margin to space the icons properly */
}

.icon {
    margin: 20px;
    text-align: center;
    background-color: rgb(235, 239, 239);
    padding: 20px; /* Add padding to the icons for spacing */
    border-radius: 25px; /* Add rounded corners to the icons */
    max-width: 130px; /* Limit the maximum width of each icon */
    transition: background-color 0.3s;
}


.icon a {
    text-decoration: none;
}
.icon:hover {
    background-color: #a5d8f1; /* Change the background color on hover */
}
.icon-1 {
    font-size: 10px; /* Adjust the icon size as needed */
}
.icon-y{
    margin: 20px;
    text-align: center;
    background-color: rgb(235, 239, 239);
    padding: 20px; /* Add padding to the icons for spacing */
    border-radius: 25px; /* Add rounded corners to the icons */
    max-width: 130px; /* Limit the maximum width of each icon */
    transition: background-color 0.3s;
}
.icon-y:hover{
    background-color: #f5b0b0; 
}
.icon-w{
    margin: 20px;
    text-align: center;
    background-color: rgb(235, 239, 239);
    padding: 20px; /* Add padding to the icons for spacing */
    border-radius: 25px; /* Add rounded corners to the icons */
    max-width: 130px; /* Limit the maximum width of each icon */
    transition: background-color 0.3s;
}
.icon-w:hover{
    background-color: #b3f9b9; 
}
.icon-i{
    margin: 20px;
    text-align: center;
    background-color: rgb(235, 239, 239);
    padding: 20px; /* Add padding to the icons for spacing */
    border-radius: 25px; /* Add rounded corners to the icons */
    max-width: 130px; /* Limit the maximum width of each icon */
    transition: background-color 0.3s;
}
.icon-i:hover{
    background-color: #fbc0e6; 
}
.icon-f{
    margin: 20px;
    text-align: center;
    background-color: rgb(235, 239, 239);
    padding: 20px; /* Add padding to the icons for spacing */
    border-radius: 25px; /* Add rounded corners to the icons */
    max-width: 130px; /* Limit the maximum width of each icon */
    transition: background-color 0.3s;
}
.icon-f:hover{
    background-color: #79eafe; 
}
